* {
	position: relative;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
}

svg {
	position: absolute;
	display: block;
	width: calc(100% + 1.3px);
	height: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
