.custom-shape-divider-bottom-1641161177 {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641161177 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1641161177 .shape-fill {
  fill: #ffffff;
}

.shift {
  transform: translate(-35%, 5%);
  width: 140%;
}
